- form_for :comment, :url => user_comments_path(@user), :html => {:id => 'new_comment'} do |f|
  = f.text_area :text 
  %br
  = f.check_box :anonymous
  %label
    Hide my name for this comment
  %br
  = f.submit 'Post comment'
