- main_column do
  %table
    %tr
      %td
        %h1= link_to 'Vancouver Fitness Gym', search_path(:q => 'fitness+gym', :subdomain => 'vancouver')
        %h1= link_to 'Vancouver Fitness Pilates', search_path(:q => 'fitness+pilates', :subdomain => 'vancouver')


