#container
  #header
    %h1.title
      Goodbye, Advertisements
      %br
      %span
        %strong healthbuff
        collects and spreads recommendations about your business
    .main-actions
      %h2
        %a.try-link-start{:href => '#subscribe'}
          coming this November
          %span get notified when it's ready
  
  #content
    .columns.two
      .column.big 
        %h3 Happy customers are the best advertising
        %p
          You can always say how awesome you are  in your advertisements 
          but people will not believe you.  
        %p
          But, if someone else says how great you are, how kind you are, or how wonderful you
          can be, it's different. 
          wrong decision.  It's about your business but unlike advertising, someone
          else is saying it.

        %h3 Referrals are like gold 
        %p
          It's a striking fact – the chunk of your clients comes to you 
          via referrals.  For most, referrals happen accidentally. What if 
          those valuable referrals happen intentionally? When than happens, 
          people will find you.

      .div 
        = image_tag 'happy_person.jpg', :class => 'fancy'

    .try-freckle
      .perfect-for
        .emphasized
          %h2
            %strong healthbuff
            is perfect for businesses in the fitness, health, wellness industry 

    .columns.three
      .column.dual
        .feature
          %h3 Give your raving fans a megaphone
          %p
            Give your happy customers a megaphone and let them tell the whole 
            world how awesome you are. Post it in Facebook, Twitter, your website, 
            your blog, your friend's blog, your business card, and even on your door. 

        .feature
          %h3 Recommendations eliminate hesitations 
          %p 
            Customers hate the feeling of playing the guinea pig (who isn't?). 
            They want to know they are not the first one to try you out.  HealthBuff 
            makes it easy to  collect testimonials from a dozen or 50 dozen customers.
          
        .feature
          %h3 Who's in,  Who's out
          %p
            Who is the most recommended personal trainer in your city? We built a 
            directory  where the more recommendations you have, the more potential 
            clients see you.   It's as simple as that. No fancy 5-star rating, no 
            confusing questionnaire, and definitely no paid-listings.

        .feature
          %h3 Stay in touch with customers
          %p
            They say the best business is a repeat business. Send thank-you notes to 
            your happy customers, or new promos, company updates, or your opinion on a 
            latest issue that concerns them.

        .feature
          %h3 Take a pulse of your business and the competition
          %p
            Find out how many of your customers recommended you or how well you fare with
            other businesses in your area.

    .infoline.blue
      %h2 Don’t miss a thing + FREE report to improve your business

    %a{:name => 'subscribe'}
    .columns
      #subscribe
        .leftTop
        .lelftBot
        .rightTop
        .rightBot
        %p
          Leave your email and we'll contact you as soon as our website is ready.
          Plus, we will send you a <strong>FREE 25 page report</strong> that shows 
          small business owners how to grow their business using a simple 7 step method.
          written by John Jantsch &mdash; 
          America's most practical small business marketing expert.

        <form action="http://pandayan.createsend.com/t/y/s/djithl/" method="post">
        <fieldset>
        <label for="name">Name:</label>
        %br
        <input type="text" name="cm-name" id="name" />
        %br

        <label for="djithl-djithl">Email:</label>
        %br
        <input type="text" name="cm-djithl-djithl" id="djithl-djithl" />
        %br

        <input type="submit" value="Subscribe" />
        </fieldset>
        </form>
