:plain
  Hello, #{@user.first_name}.
    
  On behalf of the Propsify Team, thank you for giving us
  the chance to help your business. 

  We worked very hard to make this website useful to you.
  If while using it you discover something wrong or you have
  an idea to make this website better, please email us at
  #{@support_email}.

  By the way, to prevent future emails from getting swept up
  by overzealous email filters, please add our email
  #{@support_email} to your address book.

  Have a nice day!

  Greg Moreno
  Co-founder

  #{render :partial => 'notifier/tagline'}

