.wrapper
  &copy; 2010 
  = link_to('Greg Moreno', 'http://gregmoreno.ca')
  |
  7025 Stride Ave, Burnaby, BC V3N 4Y1
  -#|
  -#= link_to 'About', '/about'
  -#|
  -#= link_to 'Disclaimer and Privacy Statement', '/privacy'
-# TODO: textmate footer plugin   
