%head
  - title, meta_desc = page_title
  %title= title
  %meta{:name => "description", :content => meta_desc}
  %meta{:name => "verify-v1", :content => "nWTLojZAxQP+IKZmDVn5/o4T23oXrcEiRDpEmM33P2A="} 
  = render :partial => 'layouts/resources'
