- single_column(:class => 'pitch') do
  %a{:name => 'subscribe'} 
  .infoline
    %h2 Don’t miss a thing + FREE report to improve your business

  #subscribe
    .leftTop
    .leftBot
    .rightTop
    .rightBot
    .content
      %p
        Leave your email and we'll contact you as soon as our website is ready.
        Plus, we will send you a <strong>FREE 25 page report</strong> that shows 
        small business owners how to grow their business using a simple 7 step method.
        written by John Jantsch &mdash; 
        America's most practical small business marketing expert.

      <form action="http://pandayan.createsend.com/t/y/s/djithl/" method="post">
      <fieldset>
      <p>
      <label for="name">Name:</label>
      %br
      <input type="text" name="cm-name" id="name" class="text" />
      </p>

      <p>
      <label for="djithl-djithl">Email:</label>
      %br
      <input type="text" name="cm-djithl-djithl" id="djithl-djithl" class="text" />
      </p>

      <input type="submit" value="Subscribe" />
      </fieldset>
      </form>
