- single_center do
  .pitch
    %h1
      Get more clients with zero advertising

    %h2 Boost your referrals without sweating 
    %p
      Use the Internet to build a referral system that works day and night.

    %h2 Collect tons of recommendations
    %p
      Harness the voice of your customers and see your credibility meter go off the chart. 

    %h2 Let everyone know how awesome you are 
    %p
      Publish testimonials and recommendations in your website, blogs, Facebook, Twitter, and many more.
      

  .posts
    %h3 Referrals are like gold
    %p 
      If you look at your current business, you'll notice one striking
      fact – that the chunk of your clients comes to you via referrals.
    %p
      For most, referrals happen accidentally. What if those valuable referrals happen intentionally?
      When than happens, people will find you. God knows how,
      but they will.

    %h3 Recommendations eliminate hesitations
    %p
      Customers hate the feeling of playing the guinea pig (who isn't?).
      They want to know they are not the first one to try you out.
      They want to hear from  Kate, Hannah, Scott, Gabriel, Kim, and
      dozens of others who were your clients before and would be
      happy to recommend you to anyone.
    %p 
      If someone else says how great you are, how kind you are, or how wonderful you
      can be, it reduces the fear from your potential clients of making the
      wrong decision.  It's about you but unlike advertising, someone
      else is saying it. 

    %h3 Give your raving fans a megaphone 

    %p
      Tap into people's natural desire to share their experiences with family and friends.
      Combine with the power of the Internet and popularity of sites like Facebook and Twitter,
      it is easy to spread the things customer say about you and your business
      It's like giving your happy customers a megaphone and letting them tell 
      the whole world how awesome you are.


    
  .action
    %h2 Don't miss a thing + FREE report to improve your business
    %p
      Leave your email and we'll contact you as soon as our website is ready.
      Plus, we will send you a <strong>FREE 25 page report</strong> that shows 
      small business owners how to grow their business using a simple 7 step method.
      written by John Jantsch &mdash; 
      America's most practical small business marketing expert.

      
      <form action="http://pandayan.createsend.com/t/y/s/djithl/" method="post">
      <fieldset>
      <p>
      <label for="name">Name:</label><br /><input type="text" class='title' name="cm-name" id="name" /><br />
      </p>

      <p>
      <label for="djithl-djithl">Email:</label><br /><input class='title' type="text" name="cm-djithl-djithl" id="djithl-djithl" /><br />
      </p>

      <p>
      <input type="submit" value="Subscribe" />
      </p>
      </fieldset>
      </form>
